# dependencies
node_modules

# build
dist

# environment
.env
.env.local

# prisma
prisma/dev.db
prisma/dev.db-journal

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# vscode
.vscode/settings.json